// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    min-height: 100vh;
    position: relative;
}

.gsc-input {
    width: 300px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: $body-bg3;
    border-radius: 0.25rem;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.introduction-text {
    font-size: 1.2rem;
}

.container-brands, .container-type-list, .container-manuals {
    background-color: $body-bg2;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding-bottom: 15px;
}

.all-brands-title, .brand-name-title, .brand-manual-discription, .brand-type-name-title, .type-discription, .manual-link {
    padding-left: 15px;
    padding-top: 15px;
}

.brand-link {
    color: rgb(40, 63, 82);
}

footer{
    // position: absolute;
    // bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #fff;
}

.footer-middle, .footer-bottom {
    background-color: #3c4249;
}

.line {
    height: 1px;
    background-color: #aaa;
}

.footerfix-container {
    min-height: calc(100vh - 72px);
}