// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    min-height: 100vh;
    position: relative;
}

.gsc-input {
    width: 300px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: $body-bg3;
    border-radius: 0.25rem;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.introduction-text {
    font-size: 1.2rem;
}

.container-brands, .container-type-list, .container-manuals, .container-popular {
    background-color: $body-bg2;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding-bottom: 15px;
}

.all-brands-title, .brand-name-title, .brand-manual-discription, .brand-type-name-title, .type-discription, .manual-link, .popular-manuals-title {
    margin-left: 15px;
    margin-top: 15px;
}

.all-brands-title, .brand-name-title, .brand-type-name-title, .popular-manuals-title {
    padding-top: 15px;
}

.popular-manuals-title {
    margin-bottom: 1rem;
}

.brand-link, .pop-manual-link {
    color: rgb(40, 63, 82);
}

.pop-manual-link {
    vertical-align: top;
}


footer{
    // position: absolute;
    // bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #fff;
}

.footer-middle, .footer-bottom {
    background-color: #3c4249;
}

.line {
    height: 1px;
    background-color: #aaa;
}

.footerfix-container {
    min-height: calc(100vh - 71px);
}

.link-style {
    transition: transform 0.3s;
}

.link-style:hover i{
    transform: scale(1.8);
}

.link-style:hover {
    text-decoration: none;
}

.manual-link{
    background-color: $light-blue;
    box-sizing: content-box;
    width: 103px;
    height: 23px;
}

.manual-link i.fa-download,  .manual-link i.fa-book-open {
    margin-right: 10px;
}

.manual-link:hover{
    background-color: $light-blue-active;
}

.manual-link div.filename {
    display: block;
}

.manual-link div.view-manual {
    display: none;
}

.manual-link:hover div.filename {
    display: none;
}

.manual-link:hover div.view-manual {
    display: block;
}

.container-popular {
    border: 5px solid $body-bg3;
}